.card-body {
  transition: opacity 0.25s ease-in-out;
}

.card-img-top {
  transition: transform 0.25s ease-in-out;
}

.card:hover .card-body {
  opacity: 0.6;
}

.card:hover .card-img-top {
  transform: scale(1.05);
}

.bg-dark {
  background-color: #0f0f0f !important;
}

.dash-list ul {
  list-style: none !important;
}

.dash-list li::before {
  content: '- ' !important;
  color: #007bff !important;
}

ul {
  list-style: none !important;
}
